html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

/* body {
    overflow: scroll;
} */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #6610f2;
    box-shadow: 0 0 5px rgb(235, 235, 235);
    position: fixed;
    top: 0;
    z-index: 99999;
}

nav div.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div div.logo-gambar img {
    width: 60px;
}

nav .logo .logo-text {
    margin-left: 12px;
    color: white;
    text-shadow: 0px 2px 2px rgb(20, 20, 20);
}

nav .logo .logo-text #text1 {
    font-size: 20px;
    letter-spacing: 45px;
    font-weight: 800;
}

nav .logo .logo-text #text2 {
    color: #ffc107;
}

nav .navbar-nav {
    width: 100%;
    margin: 0px 2rem 0px 9rem;
}

nav .navbar-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}

nav .navbar-nav ul li {
    list-style: none;
    color: rgb(255, 255, 255);
}

nav .navbar-nav ul li a {
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.2s ease;
}

nav .navbar-nav ul li a:hover {
    background-color: #ffc107;
}

.main {
    background-image: linear-gradient(#6610f2 70%, white 30%);
    padding-top: 8rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.containers {
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.313);
    background-color: white;
}

.container {
    width: 100%;
    display: flex;
    text-align: center;
    position: relative;
}

.container img {
    object-fit: cover;
    width: 100%;
}

.container .sambutan {
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.252);
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2rem;
    text-shadow: 4px 4px 3px rgb(52, 48, 48);
}

.container .sambutan h4 {
    font-size: 30px;
    font-weight: 400;
    color: white;
    letter-spacing: 2px;
}

.container .sambutan div {
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.sambutan span.e {
    color: #6610f2;
    font-size: 80px;
}

.sambutan span.per {
    color: #6610f2;
}

.form-login {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem;
}

.form-login form {
    width: 100%;
}

.form-login form h1 {
    color: #6610f2;
    margin-bottom: 2rem;
}

.form-login form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.form-login form label {
    color: #6610f2;
    font-size: 1rem;
}

.form-login form input {
    border: 0px solid;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    padding: 10px;
}

.form-login form input:focus {
    outline: none;
    border: 2px solid;
    border-color: #6610f2;
}

.form-login form button {
    color: white;
    background-color: #6610f2;
    border-style: none;
    border-radius: 10px;
    margin-top: 0.6rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.1s ease;
}

.form-login form button:hover {
    background-color: #4407a6;
    scale: 1.1;
}

.about {
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 10px;
    margin-top: 2.5rem;
}

.about .header,
.kontak .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.about h1,
.kontak h1 {
    font-weight: 550;
    margin-top: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.about h1 span,
.kontak h1 span {
    color: #6610f2;
}

.about .header .line,
.kontak .header .line {
    display: block;
    background-color: #ffc107;
    width: 100px;
    height: 2px;
}

div.profil {
    margin-left: 70px;
    margin-right: 50px;
}

.profil h2 {
    color: rgb(95, 95, 95);
    font-size: 30px;
    font-weight: 800;
}

.profil h2 span {
    color: #ffc107;
}

.profil > p {
    text-align: justify;
    text-indent: 2.5rem;
}

.jurusan {
    width: 100%;
    margin: 20px auto;
    color: rgb(0, 0, 0);
    margin-bottom: 50px;
}

.jurusan h3 {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    color: #7d7d7d;
    margin-bottom: 1.2rem;
}

.prodis {
    display: flex;
    justify-content: space-around;
}

.prodi {
    padding: 2rem 2.5rem;
    width: 400px;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: justify;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(81, 81, 81, 0.1);
}

.prodi-T h4,
.prodi-M h4 {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 0.4rem;
    color: rgb(179, 30, 30);
}

.prodi-M h4 {
    color: rgb(0, 0, 185);
}

.kontak {
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 30px;
    padding-bottom: 50px;
}

.kontak .cards {
    display: flex;
    justify-content: space-around;
}

.kontak .cards .card {
    width: 200px;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 1.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 15px rgb(125, 125, 125);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.kontak .cards .card:hover {
    scale: 1.05;
}

.kontak .cards .card .head-card {
    margin-top: 40px;
}

.kontak .cards .card .foot-card {
    margin: 60px;
    font-weight: 500;
    font-size: 25px;
}

.cards .instagram {
    color: #f210c9;
}

.cards .twitter {
    color: #108cf2;
}

.cards .facebook {
    color: #1027f2;
}

.footer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: rgb(236, 236, 236);
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
}

/* media query */
@media screen and (max-width: 768px) {
    .container .sambutan h4 {
        font-size: 1.5rem;
    }

    .container .sambutan div {
        font-size: 1.5rem;
    }

    .sambutan span.e {
        font-size: 3rem;
    }

    .jurusan .prodis .prodi {
        font-size: 0.8rem;
        margin: 0 10px;
    }

    .about .header,
    .kontak .header {
        margin-bottom: 2.3rem;
    }

    .kontak .cards .card .head-card img {
        width: 40px;
    }

    .kontak .cards .card .foot-card {
        margin: 35px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 427px) {
    .main {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .main .containers {
        flex-direction: column;
    }

    .main .containers .container .sambutan {
        font-size: 1rem;
    }
    .main .containers .container .sambutan div .e {
        font-size: 2rem;
    }

    .form-login {
        padding: 1.8rem;
    }

    .form-login form h1 {
        font-size: 1.4rem;
        margin: 1rem;
    }
    .form-login form div {
        margin-bottom: 0.7rem;
    }

    .form-login form div input,
    .form-login form div label,
    .form-login form button {
        font-size: 0.8rem;
    }

    .about .jurusan .prodis,
    .kontak .cards {
        flex-direction: column;
        align-items: center;
    }
}
